@import "variables.scss"; 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

main {
    background-color: $primary;
}


.btn {
    background-color: $secondary;
    
}

.btn-outline-primary {
    color: black;
}